<svg:g
  *ngIf="options.relationship === 'root' && category"
  (mouseover)="category.hover=true"
  (mouseout)="category.hover=false"
>
  <svg:rect
    stroke="white"
    fill="white"
    [attr.x]="-(options.radius)"
    [attr.y]="0"
    [attr.width]="options.radius * 2"
    [attr.height]="options.radius + options.titleHeight"
  />
  <svg:rect
    [attr.stroke]="categoryColor(category.color, 0.1)"
    [attr.fill]="categoryColor(category.color, 0.1)"
    [attr.x]="-(options.radius)"
    [attr.y]="0"
    [attr.width]="options.radius * 2"
    [attr.height]="options.radius + options.titleHeight"
  />
  <svg:rect
    [attr.stroke]="nodeGradient(category)"
    fill="none"
    [attr.x]="-(options.radius) + strokeWidth"
    [attr.y]="strokeWidth"
    [attr.width]="options.radius * 2 - strokeWidth * 2"
    [attr.height]="(options.radius + options.titleHeight) - strokeWidth * 2"
  />
  <svg:text
    fill="black"
    [attr.x]="0"
    [attr.y]="options.radius + options.titleHeight/2"
    text-anchor="middle"
  >{{category.name}}</svg:text>
  <svg:circle
    cy="0"
    [attr.r]="options.radius"
    [attr.stroke]="category.color"
    fill="white"
  />
  <svg:image
    *ngIf="category.level === 0"
    [attr.x]="-(options.radius) + strokeWidth + strokeWidth/2"
    [attr.y]="-nodeImageSize()/2"
    [attr.width]="nodeImageSize()"
    [attr.height]="nodeImageSize()"
    [attr.maxWidth]="nodeImageSize()"
    [attr.maxHeight]="nodeImageSize()"
    [attr.xlink:href]="nodeImagePath(category)"
    [attr.mask]="'url(#circleMask' + options.radius + ')'"
    preserveAspectRatio="xMidYMid slice"
  />
</svg:g>

<svg:g
  *ngIf="options.relationship === 'child'"
  (mouseover)="category.hover=true"
  (mouseout)="category.hover=false"
>
  <svg:circle
    [attr.cx]="0"
    cy="0"
    [attr.r]="options.radius"
    [attr.stroke]="category.color"
    [attr.fill]="category.hover ? category.color : 'white'"
  />
  <svg:image
    *ngIf="category.level === 0"
    [attr.x]="-nodeImageSize('node')/2"
    [attr.y]="-nodeImageSize('node')/2"
    [attr.width]="nodeImageSize('node')"
    [attr.height]="nodeImageSize('node')"
    [attr.xlink:href]="nodeImagePath(category)"
    preserveAspectRatio="xMidYMid slice"
  />
  <svg:g
    *ngIf="category.level === 1"
    [inlineSVG]="category.icon.url"
    [attr.transform]="translateIcon()"
    [attr.fill]="category.hover ? 'white' : category.color"
  >
  </svg:g>
  <svg:text
    *ngIf="(category.level > 0) && (state !== 'tertiary')"
    text-anchor="middle"
    [attr.transform]="translateText(category)"
    [attr.fill]="category.hover ? 'white' : 'black'"
  >
    <svg:tspan
      *ngFor="let word of words(category.name); let j = index"
      [attr.x]="0"
      [attr.y]="fontSize * j"
      class="category-name"
    >{{word}}</svg:tspan>
    <svg:tspan
      *ngIf="(category.level === 2)"
      [attr.x]="0"
      [attr.y]="fontSize * words(category.name).length + fontSize"
    >{{category.resource_count || 0}} resources</svg:tspan>
  </svg:text>
</svg:g>