<div
  class="container mat-typography"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <div fxFlex="50%">
    <app-logo></app-logo>
    <mat-card>
      <mat-card-content>
        <h1>Recover your password</h1>
        <form
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onSubmit()"
          (keydown)="onKeydown($event)"
          *ngIf="formStatus === 'form'"
        >
          <app-form-field
            *ngFor="let field of getFields()"
            [errors]="field.formControl ? field.formControl.errors : field.formGroup.errors"
            [field]="field"
            [formGroup]="forgotPasswordForm"
            [errorMatcher]="errorMatcher"
          ></app-form-field>

          <div
            id="error_message"
            class="display mat-error"
            *ngIf="errorMessage"
          >{{errorMessage}}</div>

          <footer *ngIf="formStatus === 'form'">
            <button
              type="button"
              color="primary"
              mat-raised-button
              (click)="onSubmit()"
            >Next</button>
          </footer>
          <footer *ngIf="formStatus === 'submitting'">
            <mat-spinner></mat-spinner>
          </footer>
          <button
            type="button"
            (click)="onCancel()"
            mat-button
          >Cancel</button>
        </form>
        <div *ngIf="formStatus === 'complete'">
          <p>If we have an account on file for you at this email, you should receive a message in a few
            minutes with link that will let you reset your password.</p>
          <button
            type="button"
            color="primary"
            mat-raised-button
            (click)="onCancel()"
          >Continue</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

</div>