// Import theming functions
@import '../ithriv_material';
@import '~@angular/material/theming';
@include ithriv-theme($ithriv-theme);
mat-toolbar {
  @keyframes glowing {
    0% {
      background-color: mat-color($ithriv-warn, default, 0.5);
    }
    20% {
      background-color: mat-color($ithriv-warn, default, 0.6);
    }
    40% {
      background-color: mat-color($ithriv-warn, default, 0.7);
    }
    60% {
      background-color: mat-color($ithriv-warn, default, 0.8);
    }
    80% {
      background-color: mat-color($ithriv-warn, default, 0.9);
    }
    100% {
      background-color: mat-color($ithriv-warn, default, 1);
    }
  }
  mat-toolbar-row.warning {
    //  box-shadow: -1px -1px #888;
    //  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    background-color: mat-color($ithriv-warn, default, 1);
    animation: glowing 1000ms 10 500ms;
    strong {
      line-height: 30px;
      margin-left: 1em;
    }
  }
  mat-toolbar-row {
    a {
      text-decoration: none;
      color: inherit;
    }
    a:hover {
      color: mat-color($ithriv-accent, default, 1.0);
    }
    .fill-remaining-space {
      flex: 1 1 auto;
    }
    .mat-divider-vertical {
      color: white;
    }
  }
  .menubar {
    color: white;
    height: 30px;
    font-size: 12px;
    background-color: mat-color($ithriv-primary, 900, 1.0);
    &.logged-in {
      background-color: red;
    }
    &.menubar-xs {
      height: 56px;
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }
  .logo {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
    border-bottom: 8px solid mat-color($ithriv-primary, 800, 1.0);
    @media screen and (max-width: 959px) {
      height: 48px;
      max-height: 48px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    button.mat-stroked-button {
      border-width: 1px;
      border-style: solid;
      border-color: mat-color($ithriv-primary, 800, 1.0);
      color: mat-color($ithriv-primary, 800, 1.0);
    }
    img {
      &.logomark {
        height: 48px;
        max-height: 48px;
        vertical-align: middle;
        @media screen and (max-width: 959px) {
          height: 24px;
        }
      }
      &.logo-horizontal {
        height: 40px;
        max-height: 40px;
        vertical-align: middle;
        @media screen and (max-width: 959px) {
          height: 40px;
        }
      }
    }
    h1 {
      color: mat-color($ithriv-primary, 800, 1.0);
      font-size: 32px;
      @media screen and (max-width: 959px) {
        font-size: 16px;
        background: transparent;
      }
    }
    p {
      color: white;
      white-space: pre-wrap;
    }
  }
  .xs-app-name,
  .menubar,
  .navigation,
  .secondary-nav {
    img {
      &.logomark {
        height: 24px;
        max-height: 24px;
        vertical-align: middle;
      }
      &.logo-horizontal {
        height: 40px;
        max-height: 40px;
        vertical-align: middle;
        @media screen and (max-width: 959px) {
          height: 40px;
        }
      }
    }
  }
  .navigation,
  .secondary-nav {
    background: white;
    h1 {
      color: mat-color($ithriv-primary, 800, 1.0);
      font-size: 32px;
      background: transparent;
    }
    color: mat-color($ithriv-primary, 900, 1.0);
  }
  .secondary-nav {
    @include mat-elevation(1);
    mat-button-toggle-group {
      mat-button-toggle {
        color: mat-color($ithriv-primary, 800, 1.0);
        background-color: #CCC;
        &.mat-button-toggle-checked {
          color: white;
          background-color: mat-color($ithriv-primary, 800, 1.0);
        }
      }
    }
  }
}

mat-sidenav,
mat-sidenav-container {
  z-index: 10;
  mat-list-item button {
    color: mat-color($ithriv-primary, 800, 1.0);
  }
}

.xs-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 1005;
}

.xs-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.xs-is-mobile .xs-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}