<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="75%">
    <form class="search-box" [formGroup]="searchForm" (ngSubmit)="goSearch()">
      <mat-form-field appearance="outline">
        <input matInput #query type="search" [formControl]="searchBox" placeholder="Search" value="{{resourceQuery.query}}">
        <mat-icon matSuffix (click)="goSearch()">search</mat-icon>
        <mat-hint class="mat-h3">
          Need help?
          <a href="#">Request a Research Concierge Services Consultation</a>
        </mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>

<div id="tiles" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1em" fxLayoutAlign="center">
  <app-category-tile *ngFor="let category of categories" [category]="category" fxFlex="25%"></app-category-tile>
</div>
