<div
  id="tiles"
  fxLayout="row wrap"
  fxLayoutGap="45px grid"
  fxLayoutAlign="center"
>
  <app-category-tile
    *ngFor="let category of categories"
    [category]="category"
    (click)="goCategory(category)"
  ></app-category-tile>
</div>

<h1 class="mat-h1 page-title">myTHRIV Workspace</h1>

<mat-tab-group
  mat-stretch-tabs
  dynamicHeight
  backgroundColor="primary"
>
  <mat-tab label="My Favorite Resources">
    <div class="example-large-box mat-elevation-z4">
      <app-favorite-resource-list
        [user]="user"
        [institution]="institution"
      ></app-favorite-resource-list>
    </div>
  </mat-tab>
  <mat-tab label="Recently Updated Resources">
    <div class="example-small-box mat-elevation-z4">
      <app-resource-list
        [resources]="resources"
        [user]="user"
        [sidenavExpanded]="false"
      ></app-resource-list>
    </div>
  </mat-tab>
  <mat-tab label="My Resources">
    <div class="example-large-box mat-elevation-z4">
      <app-user-resource-list
        [user]="user"
        [institution]="institution"
      ></app-user-resource-list>
    </div>
  </mat-tab>
</mat-tab-group>