<mat-card>
  <mat-card-content>
    <h1>Create an iThriv account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-form-field *ngFor="let field of getFields()" [errors]="field.formControl ? field.formControl.errors : field.formGroup.errors"
        [field]="field" [formGroup]="registerForm" [errorMatcher]="errorMatcher"></app-form-field>

      <div id="error_message" class="display mat-error" *ngIf="error">{{error}}</div>

      <footer>
        <button type="button" color="primary" mat-raised-button (click)="onSubmit()">Next</button>
      </footer>
    </form>
  </mat-card-content>
</mat-card>
<div fxLayout="row" fxLayoutAlign="center center">
  <button type="button" (click)="onCancel()" mat-button>
    Cancel
  </button>
</div>