<div matTooltip="{{category.brief_description || category.description}}">
  <div
    class="category-tile category-tile-root"
    (mouseover)="category.hover=true"
    (mouseout)="category.hover=false"
    [ngStyle]="{'box-shadow': category.hover ? 'none' : '0px 0px 20px 5px white', 'border-color': category.color, 'background-image': categoryImageURL()}"
  ></div>
  <div
    class="mat-typography category-tile-root-title"
    (mouseover)="category.hover=true"
    (mouseout)="category.hover=false"
    [ngStyle]="{'background-color': category.hover ? category.color : categoryColorLight(), 'border-color': category.hover ? category.color : categoryColorLight()}"
  >
    <a
      [routerLink]="categoryRoute(category)"
      [appGradientBorder]="category.color"
      [ngStyle]="{'color': category.hover ? 'white' : 'black'}"
    >{{category.name}}</a>
  </div>
</div>