<div
  *ngIf="dataLoaded"
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="center center"
>
  <h2>Select your institution</h2>
  <div
    class="login-service"
    fxLayout="row wrap"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
  >
    <button
      *ngFor="let s of loginServices"
      mat-stroked-button
      (click)="goLoginService(s)"
      [ngStyle]="{
            'border-color': s.color
          }"
      class="service-logo"
      matTooltip="{{ s.name }}"
      id="btn-service-{{s.id}}"
    >
      <img [src]="s.image">
    </button>
  </div>
  <div
    *ngIf="institution"
    id="institution-login"
  >
    <mat-tab-group
      mat-stretch-tabs
      dynamicHeight
      [selectedIndex]="selectedTabIndex"
    >
      <mat-tab label="iTHRIV PORTAL {{ institution.name.toUpperCase() }} VIEW">
        <div class="help">
          <p>We are working to implement logins that will give you a personalized view of the portal using your
            {{ institution.name }} login and password. In the meantime, click below to access the portal as a
            {{ institution.name }} user.</p>
          <button
            mat-stroked-button
            (click)="goNetworkBrowse($event)"
            id="btn-institution-{{institution.id}}"
          >
            <span>
              <img [src]="'/assets/institutions/' + institution.name + '.png'">
            </span>
            CONTINUE TO PORTAL {{ institution.name.toUpperCase() }} VIEW
          </button>
        </div>
        <!--
          <app-register-form></app-register-form>
          -->
      </mat-tab>
      <mat-tab label="SYSTEM ADMIN LOGIN">
        <app-login-form></app-login-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>