<form *ngIf="isDataLoaded" [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

  <h2>Resource Details</h2>
  <!-- TODO:  Add Type, Institution, and Availability -->
  <app-form-field [errors]="fields.name.formControl.errors" [field]="fields.name" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [errors]="fields.description.formControl.errors" [field]="fields.description" [formGroup]="resourceForm"
    [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [errors]="fields.owner.formControl.errors" [field]="fields.owner" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [errors]="fields.website.formControl.valid" [field]="fields.website" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>

  <button type="submit" color="primary" mat-raised-button (click)="validate()">Save</button>
  <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
  <button type="button" mat-raised-button *ngIf="!showConfirmDelete && !createNew" (click)="showDelete()">Delete</button>
  <button *ngIf="showConfirmDelete" id="confirm_delete" type="button" mat-raised-button (click)="onDelete()">Permanently Delete This Resource!!!</button>

  <div id="error_message" class="display mat-error" *ngIf="error">{{error}}</div>

</form>