<form *ngIf="isDataLoaded" [formGroup]="resourceForm" (ngSubmit)="onSubmit()">
  <h2>Resource Details</h2>

  <app-form-field [field]="fields.name" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [field]="fields.description" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [field]="fields.owner" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>
  <app-form-field [field]="fields.website" [formGroup]="resourceForm" [errorMatcher]="errorMatcher"></app-form-field>

  <!-- TODO:  Add Type, Institution, and Availability -->

  <div class="display">
    <div class="button">
      <button type="submit" mat-raised-button (click)="validate()">Save</button>
      <button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
      <button type="button" mat-raised-button *ngIf="!showConfirmDelete && !createNew" (click)="showDelete()">Delete</button>
    </div>
  </div>

  <div id="confirm_delete" class="display" *ngIf="showConfirmDelete">
    <div class="button">
      <button type="button" mat-raised-button (click)="onDelete()">Permanently Delete This Resource!!!</button>
    </div>
  </div>

  <div id="error_message" class="display mat-error" *ngIf="resourceForm.invalid || (errors.length > 0)">
    <p *ngFor="let error of errors">{{error}}</p>
  </div>
</form>