<div class="mat-typography resource">
  <div *ngIf="resource" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1em" fxLayoutAlign="center">
    <div fxFlex="75%">
      <h1>{{resource.name}}</h1>
      <markdown>{{resource.description}}</markdown>
      <app-availability [resource]="resource"></app-availability>
    </div>
    <mat-card fxFlex="25%">
      <mat-card-title>Information</mat-card-title>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngIf="resource.type">
            <h4 mat-line>Type</h4>
            <a mat-line href="#" (click)="goResourceType($event)">{{resource.type.name}}</a>
          </mat-list-item>
          <mat-list-item *ngIf="resource.institution">
            <h4 mat-line>Institution</h4>
            <a mat-line href="#" (click)="goInstitution($event)">{{resource.institution.name}}</a>
          </mat-list-item>
          <!--  DHF:   Johanna asked us to strip this out, will be details eventually, actual owner will not be shown
          <mat-list-item *ngIf="resource.owner">
            <h4 mat-line>Contact</h4>
            <a mat-line href="#" (click)="goOwner($event)">{{resource.owner}}</a>
          </mat-list-item>
          -->
        </mat-list>
      </mat-card-content>
      <mat-card-actions *ngIf="resource.website">
        <button mat-button (click)="goWebsite($event)">VISIT WEBSITE</button>
        <div fxFlex></div>
        <app-edit-resource-button [resource]="resource"></app-edit-resource-button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!resource">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</div>