<div class="mat-typography resource">
  <div *ngIf="resource" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1em" fxLayoutAlign="center">
    <div fxFlex="75%">
      <h1 class="mat-display-2">{{resource.name}}</h1>
      <markdown>{{resource.description}}</markdown>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <img src="/assets/institutions/{{resource.institution.name}}.png" />
      </div>
    </div>
    <mat-card fxFlex="25%">
      <app-approved-badge [resource]="resource"></app-approved-badge>
      <mat-card-title>
        Information
      </mat-card-title>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngIf="resource.type">
            <h4 mat-line>Type</h4>
            <a mat-line href="#" (click)="goResourceType($event)">{{resource.type.name}}</a>
          </mat-list-item>
          <mat-list-item *ngIf="resource.institution">
            <h4 mat-line>Home Institution</h4>
            <a mat-line href="#" (click)="goInstitution($event, resource.institution)">{{resource.institution.name}}</a>
          </mat-list-item>
          <mat-list-item *ngIf="resource.availabilities">
            <h4 mat-line>Institutions with access</h4>
            <a *ngFor="let institution of getAvailableInstitutions()" mat-line href="#" (click)="goInstitution($event, institution)">{{institution.name}}</a>
          </mat-list-item>
          <mat-list-item *ngIf="resource.cost">
            <h4 mat-line>Cost</h4>
            <p mat-line>{{resource.cost}}</p>
          </mat-list-item>
          <mat-list-item *ngIf="resource.contact_notes || resource.contact_email || resource.contact_phone">
            <h4 mat-line>Contact</h4>
            <p mat-line *ngIf="resource.contact_notes">{{resource.contact_notes}}</p>
            <p mat-line *ngIf="resource.contact_email">
              <a href="mailto://{{resource.contact_email}}">{{resource.contact_email}}</a>
            </p>
            <p mat-line *ngIf="resource.contact_phone">{{resource.contact_phone}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="resource.website" mat-button (click)="goWebsite($event)">VISIT WEBSITE</button>
        <div fxFlex></div>
        <app-edit-resource-button [resource]="resource"></app-edit-resource-button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!resource">
    <mat-progress-spinner></mat-progress-spinner>
  </div>
</div>