// Import theming functions
@import '~@angular/material/theming';
@import '../../ithriv_material';
@include ithriv-theme($ithriv-theme);


.resource {
  border-top: 4px solid mat-color($uva-accent, 500);
  padding: 2em;

  h1 {
    color: mat-color($ithriv-primary, 800, 1.0);
    font-size: 48px;
    font-weight: bolder;
    background: transparent;
  }
}

mat-card {
  padding-top: 2em;
}

mat-card-title {
  color: mat-color($ithriv-primary, 800, 1.0);
}
