<div
  *ngIf="isDataLoaded"
  style="position: relative; width: 100%; height: 100%;"
  class="mat-typography"
>
  <svg
    *ngIf="category"
    [attr.viewBox]="viewBoxDimensions()"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;"
  >
    <defs>
      <linearGradient
        id="linear"
        x1="0%"
        y1="0%"
        x2="0%"
        y2="100%"
      >
        <stop
          offset="0%"
          [ngStyle]="{'stop-color': categoryColor(category.color, 0)}"
        />
        <stop
          offset="100%"
          [ngStyle]="{'stop-color': categoryColor(category.color, 1)}"
        />
      </linearGradient>
      <linearGradient
        *ngFor="let node of allCategories"
        [attr.id]="'linear-' + node.id"
        x1="0%"
        y1="0%"
        x2="0%"
        y2="100%"
      >
        <stop
          offset="0%"
          [ngStyle]="{'stop-color': categoryColor(node.color, 0)}"
        />
        <stop
          offset="100%"
          [ngStyle]="{'stop-color': categoryColor(node.color, 1)}"
        />
      </linearGradient>
    </defs>

    <g [attr.transform]="translateTo('origin')">

      <!-- PARENT & CHILD NODES -->
      <g
        *ngFor="let node of categoryNodes(category); let i = index"
        (click)="goCategory(node)"
      >
        <!-- LINE CONNECTING TO CHILD NODE / PARENT NODE -->
        <line
          x1="0"
          y1="0"
          [attr.x2]="node.options.x"
          [attr.y2]="node.options.y"
          [attr.stroke]="category.color"
        />
        <g
          class="node"
          [attr.transform]="translate(node.options.x, node.options.y)"
        >

          <!-- GRANDCHILD NODES -->
          <g *ngFor="let nodeChild of categoryNodes(node, true); let j = index">
            <line
              [attr.x1]="0"
              [attr.y1]="0"
              [attr.x2]="nodeChild.options.x"
              [attr.y2]="nodeChild.options.y"
              [attr.stroke]="category.color"
              [ngStyle]="{'stroke-width': strokeWidth}"
            />
            <g
              app-network-view-node
              [category]="nodeChild"
              [numTotal]="node.children.length"
              [options]="{
                  relationship: 'grandchild',
                  x: nodeChild.options.x,
                  y: nodeChild.options.y,
                  radius: nodeChildRadius
                }"
            />
          </g>

          <g *ngIf="isParentNode(node) && (node.level === 0)">

            <!-- SIBLING NODES -->
            <g
              *ngFor="let sibling of siblings(node); let k = index"
              class="sibling"
            >
              <svg:line
                *ngIf="sibling.id !== category.id"
                [attr.x1]="0"
                [attr.y1]="0"
                [attr.x2]="sibling.options.x"
                [attr.y2]="sibling.options.y"
                [attr.stroke]="category.color"
              />
              <g
                app-network-view-node
                *ngIf="sibling.id !== category.id"
                [category]="sibling"
                [numTotal]="siblings(node).length"
                [options]="{
                  relationship: 'sibling',
                  x: sibling.options.x,
                  y: sibling.options.y,
                  radius: nodeRadius/2
                }"
              />
            </g>

            <!-- PARENT NODE -->
            <g
              app-network-view-node
              [category]="node"
              [options]="{
                relationship: 'parent',
                x: nodeLineLength(node, i),
                y: 0,
                radius: nodeRadius,
                angle: 0,
                titleHeight: parentTitleHeight
              }"
            />
          </g>

          <!-- CHILD NODE -->
          <g
            app-network-view-node
            [category]="node"
            [options]="{
              relationship: 'child',
              x: 0,
              y: 0,
              radius: nodeRadius,
              angle: 0,
              titleHeight: parentTitleHeight
            }"
          />
        </g>
      </g>

      <!-- SELF -->
      <g
        app-network-view-node
        [category]="category"
        [options]="{
          relationship: 'self',
          x: 0,
          y: 0,
          radius: selfRadius,
          angle: 0,
          titleHeight: selfTitleHeight
        }"
      />
    </g>

    <!-- TOP-LEVEL NODES -->
    <g
      [attr.transform]="translateTo('top-left')"
      class="top-level"
    >
      <g
        app-network-view-node
        *ngFor="let node of allCategories; let i = index"
        [attr.transform]="translateByIndex(i)"
        (click)="goCategory(node)"
        [ngStyle]="{'opacity': isSelectedCategory(node) ? 0.1 : 1}"
        [category]="node"
        [options]="{
          relationship: 'root',
          x: 0,
          y: 0,
          radius: navRadius,
          angle: 0,
          titleHeight: parentTitleHeight
        }"
      />
    </g>

  </svg>
</div>