$easeDuration: 300ms;
$animationDuration: 750ms;

#network-graph-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

line, circle, rect {
  stroke-width: 4px;
  transition: $easeDuration ease transform;
}

g[app-network-view-node] {
  transition: $easeDuration ease transform, $easeDuration ease opacity;
}

// ANIMATIONS
.fade-exit          { animation: fadeExit ease-in-out $animationDuration; }
.fade-enter         { animation: fadeEnter ease-in-out $animationDuration; }
.slide-left-exit    { animation: slideLeftExit ease-in-out $animationDuration; }
.slide-left-enter   { animation: slideLeftEnter ease-in-out $animationDuration; }
.slide-right-exit   { animation: slideRightExit ease-in-out $animationDuration; }
.slide-right-enter  { animation: slideRightEnter ease-in-out $animationDuration; }
.zoom-in-exit       { animation: zoomInExit ease-in-out $animationDuration; }
.zoom-in-enter      { animation: zoomInEnter ease-in-out $animationDuration; }
.zoom-out-exit      { animation: zoomOutExit ease-in-out $animationDuration; }
.zoom-out-enter     { animation: zoomOutEnter ease-in-out $animationDuration; }

@keyframes fadeExit {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }
}

@keyframes fadeEnter {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }

  50%, 100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes slideLeftExit {
  0% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: translateX(-100%) scale(1);
    opacity: 1;
  }
}

@keyframes slideLeftEnter {
  0% {
    transform: translateX(100%) scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
}

@keyframes slideRightExit {
  0% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: translateX(100%) scale(1);
    opacity: 1;
  }
}

@keyframes slideRightEnter {
  0% {
    transform: translateX(-100%) scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
}

@keyframes zoomInExit {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: scale(10);
    opacity: 0;
  }
}

@keyframes zoomInEnter {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOutExit {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50%, 100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes zoomOutEnter {
  0% {
    transform: scale(10);
    opacity: 0;
  }

  50%, 100% {
    transform: scale(1);
    opacity: 1;
  }
}
