<div style="position: relative; width: 100%; height: 100%;" class="mat-typography">
  <svg *ngIf="category" [attr.viewBox]="viewBoxDimensions()" xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
    <defs>
      <linearGradient id="linear" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" [ngStyle]="{'stop-color': categoryColor(category.color, 0)}" />
        <stop offset="100%" [ngStyle]="{'stop-color': categoryColor(category.color, 1)}" />
      </linearGradient>
      <linearGradient *ngFor="let node of allCategories" [attr.id]="'linear-' + node.id" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" [ngStyle]="{'stop-color': categoryColor(node.color, 0)}" />
        <stop offset="100%" [ngStyle]="{'stop-color': categoryColor(node.color, 1)}" />
      </linearGradient>
    </defs>

    <!-- TOP-LEVEL NODES -->
    <g [attr.transform]="translateTo('top-right')" class="top-level">
      <g *ngFor="let node of allCategories; let i = index" [attr.transform]="translateByIndex(i)" (click)="goCategory(node)" [ngStyle]="{'opacity': isSelectedCategory(node) ? 0.1 : 1}">
        <rect stroke="white" fill="white" [attr.x]="0" [attr.y]="0" [attr.width]="navRadius * 2" [attr.height]="navRadius + parentTitleHeight"
        />
        <rect [attr.stroke]="categoryColor(node.color, 0.1)" [attr.fill]="categoryColor(node.color, 0.1)" [attr.x]="0" [attr.y]="0"
          [attr.width]="navRadius * 2" [attr.height]="navRadius + parentTitleHeight" />
        <rect [attr.stroke]="nodeGradient(node)" fill="none" [attr.x]="strokeWidth" [attr.y]="strokeWidth" [attr.width]="navRadius * 2 - strokeWidth * 2"
          [attr.height]="navRadius + parentTitleHeight - strokeWidth * 2" [ngStyle]="{'stroke-width': 1}" />
        <text fill="black" [attr.x]="navRadius" [attr.y]="navRadius + parentTitleHeight / 2" text-anchor="middle">{{node.name}}</text>
        <circle [attr.cx]="navRadius" cy="0" [attr.r]="navRadius" [attr.stroke]="node.color" fill="white" />
        <image [attr.x]="strokeWidth + strokeWidth/2" [attr.y]="-nodeImageSize('nav')/2" [attr.width]="nodeImageSize('nav')" [attr.height]="nodeImageSize('nav')"
          [attr.href]="nodeImagePath(node)" class="clip-circle" preserveAspectRatio="xMidYMid slice" />
      </g>
    </g>

    <g [attr.transform]="translateTo('origin')">

      <!-- PARENT & CHILD NODES -->
      <g *ngFor="let node of categoryNodes(category); let i = index" [attr.transform]="rotateChild(i)" (click)="goCategory(node)">
        <g class="node">
          <line x1="0" y1="0" [attr.x2]="nodeLineLength(node, i)" y2="0" [attr.stroke]="category.color" />
          <g *ngIf="isParentNode(node) && (node.level === 0)" [attr.transform]="unrotateChild(node, i)">
            <rect fill="white" stroke="white" [attr.x]="nodeLineLength(node, i)" [attr.y]="0" [attr.width]="nodeRadius * 2" [attr.height]="nodeRadius + parentTitleHeight"
            />
            <rect [attr.fill]="categoryColor(category.color, 0.1)" [attr.stroke]="categoryColor(category.color, 0.1)" [attr.x]="nodeLineLength(node, i)"
              [attr.y]="0" [attr.width]="nodeRadius * 2" [attr.height]="nodeRadius + parentTitleHeight" />
            <rect fill="none" stroke="url(#linear)" [attr.x]="nodeLineLength(node, i) + strokeWidth" [attr.y]="strokeWidth" [attr.width]="(nodeRadius - strokeWidth) * 2"
              [attr.height]="nodeRadius + parentTitleHeight - strokeWidth * 2" [ngStyle]="{'stroke-width': 1}" />
            <text fill="black" [attr.x]="nodeLineLength(node, i) + nodeRadius" [attr.y]="nodeRadius + parentTitleHeight / 2" text-anchor="middle">{{node.name}}</text>
          </g>

          <circle [attr.cx]="nodeLineLength(node, i) + nodeRadius" cy="0" [attr.r]="nodeRadius" [attr.stroke]="category.color" fill="white"
          />
          <image *ngIf="node.level === 0" [attr.transform]="unrotateChild(node, i)" [attr.x]="nodeLineLength(node, i) + nodeRadius - nodeImageSize('node')/2"
            [attr.y]="-nodeImageSize('node')/2" [attr.width]="nodeImageSize('node')" [attr.height]="nodeImageSize('node')"
            [attr.href]="nodeImagePath(node)" class="clip-circle" preserveAspectRatio="xMidYMid slice" />
          <g *ngIf="node.level === 1" [inlineSVG]="node.icon.url" [attr.transform]="unrotateChild(node, i)" [attr.fill]="node.color"></g>
          <!-- <image *ngIf="node.level === 1" [attr.x]="nodeLineLength(node, i) + nodeRadius - nodeImageSize('node')/2"
            [attr.y]="-nodeImageSize('node')/2" [attr.width]="nodeImageSize('node')" [attr.height]="nodeImageSize('node')"
            [attr.href]="node.icon.url" class="clip-circle" preserveAspectRatio="xMidYMid slice" /> -->

          <text *ngIf="node.level > 0" text-anchor="middle" [attr.transform]="unrotateChild(node, i)">
            <tspan *ngFor="let word of words(node.name); let j = index" [attr.x]="nodeLineLength(node, i) + nodeRadius" [attr.y]="16 * j">{{word}}</tspan>
          </text>
        </g>
      </g>

      <!-- SELF -->
      <g *ngIf="category.level === 0">
        <rect stroke="white" fill="white" [attr.x]="-selfRadius" [attr.y]="0" [attr.width]="selfRadius * 2" [attr.height]="selfRadius + selfTitleHeight"
        />
        <rect [attr.stroke]="categoryColor(category.color, 0.1)" [attr.fill]="categoryColor(category.color, 0.1)" [attr.x]="-selfRadius"
          [attr.y]="0" [attr.width]="selfRadius * 2" [attr.height]="selfRadius + selfTitleHeight" />
        <rect stroke="url(#linear)" fill="none" [attr.x]="-selfRadius + strokeWidth" [attr.y]="strokeWidth" [attr.width]="selfRadius * 2 - strokeWidth * 2"
          [attr.height]="selfRadius + selfTitleHeight - strokeWidth * 2" [ngStyle]="{'stroke-width': 1}" />
        <text fill="black" [attr.x]="0" [attr.y]="selfRadius + selfTitleHeight / 2" text-anchor="middle">{{category.name}}</text>
      </g>
      <circle cx="0" cy="0" [attr.r]="selfRadius" [attr.stroke]="category.color" fill="white" />
      <image *ngIf="category.level === 0" [attr.x]="-nodeImageSize('self')/2" [attr.y]="-nodeImageSize('self')/2" [attr.width]="nodeImageSize('self')"
        [attr.height]="nodeImageSize('self')" [attr.href]="nodeImagePath(category)" class="clip-circle" preserveAspectRatio="xMidYMid slice"
      />
      <text *ngIf="category.level > 0" text-anchor="middle">
        <tspan *ngFor="let word of words(category.name); let j = index" x="0" [attr.y]="16 * j">{{word}}</tspan>
      </text>
    </g>


  </svg>
</div>