<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div fxFlex="75%">
    <form class="search-box" [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <input matInput #query type="search" formControlName="searchBox" placeholder="Search" value="{{resourceQuery.query}}">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint class="mat-h3">
          Need help?
          <a href="#">Request a Research Concierge Services Consultation</a>
        </mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>

<h1 class="mat-h1 page-title">myThriv Workspace</h1>

<div id="tiles" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1em" fxLayoutAlign="center">
  <div fxFlex="25%">
    <mat-card (click)="goBrowse($event, 1)">
      <img mat-card-image src="/assets/browse/learn-tile.jpg" alt="Learn">
      <mat-card-content>
        <h2>Learn</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card (click)="goBrowse($event, 2)">
      <img mat-card-image src="/assets/browse/propose-tile.jpg" alt="Propose">
      <mat-card-content>
        <h2>Propose</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card (click)="goBrowse($event, 3)">
      <img mat-card-image src="/assets/browse/conduct-tile.jpg" alt="Conduct">
      <mat-card-content>
        <h2>Conduct</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25%">
    <mat-card (click)="goBrowse($event, 4)">
      <img mat-card-image src="/assets/browse/connect-tile.jpg" alt="Connect">
      <mat-card-content>
        <h2>Connect</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-sidenav-container fxLayout="row" fxLayout.xs="column">
  <mat-sidenav #sidenav class="sidenav">
    <h2>
      <span>Filters</span>
      <div class="spacer"></div>
      <button mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </h2>
    <div class="spacer"></div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let facet of resourceQuery.facets">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{facet.field}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let count of facet.facetCounts" (click)="addFilter(facet.field, count.category)">
            {{count.category}}
            <div class="spacer"></div>
            {{count.hit_count}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <ul class="applied-filters">
    <li *ngIf="!sidenav.opened">
      <button mat-icon-button (click)="sidenav.open()">
        <i class="material-icons">add_circle_outline</i>
      </button>
      Add a filter
    </li>
    <li *ngIf="resourceQuery.query">
      <button mat-icon-button (click)="updateQuery()">
        <i class="material-icons">remove_circle_outline</i>
      </button>
      Search: {{resourceQuery.query}}
    </li>

    <li *ngFor="let filter of resourceQuery.filters">
      <button mat-icon-button (click)="removeFilter(filter)">
        <i class="material-icons">remove_circle_outline</i>
      </button>
      {{filter.field}} : {{filter.value}}
    </li>
  </ul>

  <app-resource-list [resources]="resources" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()"></app-resource-list>

</mat-sidenav-container>

