// Import theming functions
@import '~@angular/material/theming';
@import '../../ithriv_material';
@include ithriv-theme($ithriv-theme);

.userList {
  text-align: center;
  margin: 0 auto;
}

.description-cell {
  text-align: left;
  margin: 10px auto;
}

.duration-cell {
  text-align: center;
}

.duration-cell mat-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.users-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

mat-row:hover {
  cursor: pointer;
  background: mat-color($ithriv-accent, 100, 1.0);
}

.mat-column-eppn {
  flex: 0 0 100px;
}

.mat-column-role {
  flex: 0 0 100px;
}
