<mat-toolbar
  *ngIf="!hideHeader"
  class="mat-toolbar-tools"
>
  <mat-toolbar-row class="menubar">
    <span class="fill-remaining-space"></span>
    <button
      mat-button
      *appIsAdmin
      (click)="goUserAdmin($event)"
    >
      <mat-icon>person_add</mat-icon>
      User Administration
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button
      mat-button
      *ngIf="institution"
      (click)="goLogin($event)"
    >
      {{ institution.name }} View
    </button>
    <button
      mat-button
      *ngIf="!session"
      (click)="goLogin($event)"
    >
      <mat-icon>account_circle</mat-icon>
      Log in
    </button>
    <button
      mat-button
      *ngIf="session"
      (click)="goHome($event)"
    >
      <mat-icon>account_circle</mat-icon>
      {{session.display_name}}
    </button>
    <button
      mat-button
      *ngIf="session"
      (click)="goLogout($event)"
    >
      <mat-icon>exit_to_app</mat-icon>
      Log Out
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="20px"
    class="logo"
  >
    <h1>
      <a
        href="#"
        (click)="goHome($event)"
        aria-label="Go Home"
      >
        <img
          src="/assets/logo/ithriv-logomark.png"
          alt="iThriv"
          class="logomark"
        /> Research Concierge Portal
      </a>
    </h1>
    <span class="fill-remaining-space"></span>
    <button
      mat-stroked-button
      (click)="goSearch($event)"
    >
      <mat-icon>search</mat-icon>
      Search
    </button>
    <button
      *ngIf="session"
      mat-stroked-button
      (click)="goConsult($event)"
    >
      <mat-icon>help</mat-icon>
      Request a Consult
    </button>
    <a
      href="#"
      (click)="goHome($event)"
      aria-label="Go Home"
    >
      <img
        src="/assets/logo/ithriv-logo.png"
        alt="iThriv"
        class="logo-horizontal"
      />
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="20px"
    class="secondary-nav"
  >
    <h1>Find Resources</h1>
    <span class="fill-remaining-space"></span>
    <ng-container>
      <div>Change View:</div>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle
          (click)="viewMode(group.value)"
          [value]="true"
          matTooltip="View network graph of category relationships"
          color="primary"
          [checked]="isNetworkView"
        >
          <mat-icon>device_hub</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          (click)="viewMode(group.value)"
          [value]="false"
          matTooltip="View category/resource listing"
          color="primary"
          [checked]="!isNetworkView"
        >
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
