// Import theming functions
@import '~@angular/material/theming';
@import '../../ithriv_material';
@include ithriv-theme($ithriv-theme);

.mat-toolbar {
  color: white;

  mat-toolbar-row {
    a {
      text-decoration: none;
      color:inherit;
    }

    a:hover {
      color: mat-color($ithriv-accent, default, 1.0);
    }

    .fill-remaining-space {
      flex: 1 1 auto;
    }

    .mat-divider-vertical {
      color: white;
    }
  }

  .menubar {
    height: 30px;
    font-size: 12px;
    background-color: mat-color($ithriv-primary, 900, 1.0);
  }

  .logo {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: white;
    border-bottom: 8px solid mat-color($ithriv-primary, 800, 1.0);

    @media screen and (max-width: 720px) {
      height: 48px;
      max-height: 48px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    img {
      &.logomark {
        height: 48px;
        max-height: 48px;
        vertical-align: middle;

        @media screen and (max-width: 720px) {
          height: 24px;
        }
      }

      &.logo-horizontal {
        height: 104px;
        max-height: 104px;
        vertical-align: middle;

        @media screen and (max-width: 720px) {
          height: 40px;
        }
      }
    }


    h1 {
      color: mat-color($ithriv-primary, 800, 1.0);
      font-size: 32px;

      @media screen and (max-width: 720px) {
        font-size: 16px;
        background: transparent;
      }
    }

    p {
      color: white;
      white-space: pre-wrap;
    }
  }

  .navigation, .secondary-nav {
    background: white;

    img.logomark {
      height: 24px;
      max-height: 24px;
      vertical-align: middle;
    }

    h1 {
      color: mat-color($ithriv-primary, 800, 1.0);
      font-size: 32px;
      background: transparent;
    }

    color: mat-color($ithriv-primary, 900, 1.0);
  }

  .secondary-nav {
    @include mat-elevation(1);
  }

}
