<mat-toolbar *ngIf="!hideHeader" class="mat-toolbar-tools">
  <mat-toolbar-row class="menubar">
    <span class="fill-remaining-space"></span>
    <button mat-button *ngIf="!getSession()" (click)="goRegister($event)">
      <mat-icon>person_add</mat-icon>
      Register
    </button>
    <mat-divider [vertical]="true"></mat-divider>

    <button mat-button *ngIf="!getSession()" (click)="goLogin($event)">
      <mat-icon>account_circle</mat-icon>
      Log in
    </button>
    <button mat-button *ngIf="getSession()" (click)="goProfile($event)">
      <mat-icon>account_circle</mat-icon>
      {{getSession().display_name}}
    </button>
    <button mat-button *ngIf="getSession()" (click)="goLogout($event)">
      <mat-icon>exit_to_app</mat-icon>
      Log Out
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isHome" fxLayout="row wrap" fxLayoutAlign="space-around center" class="logo">
    <h1>
      <a href="#" (click)="goHome($event)" aria-label="Go Home">
        <img src="/assets/logo/ithriv-logomark.png" alt="iThriv" class="logomark" /> Research Concierge Portal
      </a>
    </h1>
    <span class="fill-remaining-space"></span>
    <a href="#" (click)="goHome($event)" aria-label="Go Home">
      <img src="/assets/logo/ithriv-logo.png" alt="iThriv" class="logo-horizontal" />
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="!isHome" fxLayout="row wrap" fxLayoutAlign="space-around center" class="navigation">
    <a href="#" (click)="goHome($event)" aria-label="Go Home">
      <img src="/assets/logo/ithriv-logomark.png" alt="iThriv" class="logomark" /> Research Concierge Portal
    </a>
    <span class="fill-remaining-space"></span>
    <button mat-button>
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <button mat-button>
      <mat-icon>search</mat-icon>
      Search
    </button>
    <button mat-button>
      <mat-icon>help</mat-icon>
      Request a Consult
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="!isHome" fxLayout="row wrap" fxLayoutAlign="space-around center" class="secondary-nav">
    <h1>Find Resources</h1>
    <span class="fill-remaining-space"></span>
    Change View
    <a href="#">
      <mat-icon>help_outline</mat-icon>
    </a>
    <mat-button-toggle-group>
      <button mat-button (click)="viewMode(false)">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-button (click)="viewMode(true)">
        <mat-icon>device_hub</mat-icon>
      </button>
    </mat-button-toggle-group>
  </mat-toolbar-row>
</mat-toolbar>