// Import theming functions
@import '~@angular/material/theming';
@import '../../ithriv_material';
@include ithriv-theme($ithriv-theme);


.header {
  min-height: 200px;
  background-size:cover;
  margin: 0 0 0 0 ;
  padding: 20px 0 0 20px;
  color: #fff;

  h1 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    background-color: transparent;
    color: white;
  }

  p {
    max-width: 400px;
    color: #fff;
  }

}

.sub-category {
  margin: 40px;
}

.sub-sub-category {
  flex: 1 1 5em;
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 90px;

  mat-card-title a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}


.mat-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
  line-height: 12px;
}
