<div id="browse" class="mat-typography">
  <div class="header" *ngIf="isDataLoaded">
    <h1 class="mat-display-1">
      <mat-icon *ngIf="category.icon" svgIcon="{{categoryIcon(category)}}"></mat-icon>
      {{category.name}}
      <app-edit-category-button [category]="category"></app-edit-category-button>
      <app-add-category-button [category]="category"></app-add-category-button>
    </h1>
    <markdown>{{category.description || dummyText.category}}</markdown>
    <div class="bg-img" [ngStyle]="{'background-image': headerImage()}"></div>
    <div class="gradient-overlay" [appGradientBackground]='category.color'></div>
  </div>

  <div *ngIf="isDataLoaded">
    <section *ngFor="let c of category.children" class="sub-category" [ngStyle]="{'border-top-color': c.color}">
      <div (click)="goCategory($event, c.id)">
        <mat-icon *ngIf="c.icon" class="cat-icon-2" svgIcon="{{categoryIcon(c)}}" [ngStyle]="{'color': c.color, 'border-color': c.color}"></mat-icon>
        <h2>{{c.name}}</h2>
        <app-edit-category-button [category]="c" [parent]="category"></app-edit-category-button>
        <app-add-category-button [category]="c"></app-add-category-button>
      </div>
      <markdown>{{c.description || dummyText.c}}</markdown>

      <div class="sub-categories container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutAlign="center">
        <mat-card *ngFor="let sc of c.children" class="sub-sub-category" fxFlex="30%">
          <mat-card-header (click)="goCategory($event, sc.id)">
            <div mat-card-avatar *ngIf="sc.icon">
              <mat-icon class="cat-icon-3" svgIcon="{{categoryIcon(sc)}}" [ngStyle]="{'background-color': sc.color}"></mat-icon>
            </div>
            <mat-card-title>{{sc.name}}</mat-card-title>
            <mat-card-subtitle>
              <markdown>{{sc.description || dummyText.sc}}</markdown>
            </mat-card-subtitle>
            <app-edit-category-button [category]="sc" [parent]="c"></app-edit-category-button>
          </mat-card-header>
        </mat-card>
      </div>
    </section>
  </div>
</div>