<div
  class="resource-list"
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="start stretch"
  fxLayoutAlign.xs="start start"
  fxLayoutGap="20px grid"
>
  <app-resource-tile
    *ngFor="let resource of resources"
    class="resource-tile-container"
    [fxFlex.xl]="sidenavExpanded ? '1 1 25%' : '1 1 20%'"
    [fxFlex.lg]="sidenavExpanded ? '1 1 33%' : '1 1 25%'"
    [fxFlex.md]="sidenavExpanded ? '1 1 50%' : '1 1 33%'"
    [fxFlex.sm]="sidenavExpanded ? '1 1 100%' : '1 1 50%'"
    [fxFlex.xs]="sidenavExpanded ? '1 1 100%' : '1 1 100%'"
    fxFlexFill
    [resource]="resource"
  ></app-resource-tile>
</div>