.resource-list {
  padding: 40px;
  min-width: 100vw;
  max-width: 100vw;

  &.resource-list-narrow {
    &.resource-list-xl { min-width: 75vw; }
    &.resource-list-lg { min-width: 67vw; }
    &.resource-list-md { min-width: 50vw; }
    &.resource-list-sm { min-width: 100vw; }
    &.resource-list-xs { min-width: 100vw; }
  }
}

.preparingCsvData {
  ::ng-deep .mat-button-wrapper {
    color: #666;
  }

  .mat-progress-spinner, .mat-spinner {
    display: inline-block;

    ::ng-deep circle {
      stroke: #666;
    }
  }
}