// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../ithriv_material';
// Load the UVA Theme
@include ithriv-theme($ithriv-theme);

button.mat-mini-fab.mat-accent {
  background-color: transparent;
  box-shadow: none;
  @include mat-elevation(0);

  mat-icon {
   -webkit-text-stroke: 1px mat-color($ithriv-accent, default, 1);
   color: white;
   text-shadow:
     -1px -1px 0 mat-color($ithriv-accent, default, 1),
      1px -1px 0 mat-color($ithriv-accent, default, 1),
      -1px 1px 0 mat-color($ithriv-accent, default, 1),
       1px 1px 0 mat-color($ithriv-accent, default, 1);

    &.active {
      -webkit-text-stroke: none;
      color: mat-color($ithriv-accent, default, 1);
      text-shadow: none;
    }
  }
}