<div *ngIf="user">
  <div *ngIf="userFavorite()" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <button mat-mini-fab  color="primary" (click)="deleteFavorite();$event.stopPropagation()" aria-label="Delete Favorite">
      <img src="/assets/favorite_star.svg" />
      <!--<mat-icon>grade</mat-icon>-->
    </button>
  </div>
  <div *ngIf="!userFavorite()" class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <button mat-mini-fab (click)="addFavorite();$event.stopPropagation()" aria-label="Add Favorite">
      <img src="/assets/favorite_outline_star.svg" />
    </button>
  </div>
</div>

