<div *ngIf="isDataLoaded">
  <div class="header" *ngIf="isDataLoaded">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <h1 class="mat-h1">
              {{category.name}}
            </h1>
            <p mat-line><a href="#" (click)="goMode($event, category.parent.parent)">{{category.parent.parent.name}}</a> >
              {{category.parent.name}} > {{category.name}}</p>
            <p mat-line>{{category.description}}</p>
          </mat-card-title>
        </mat-card-title-group>
        <div fxFlex></div>
        <app-add-resource-button [category]="category"></app-add-resource-button>
      </mat-card-header>
      <mat-card-content>
        <app-resource-list [resources]="resources()"></app-resource-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
