<mat-card>
  <mat-card-content>
    <div *ngIf="!linkFromConfirmEmail">
      <div
        class="login-service"
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxLayoutAlign="center center"
      >
        <button
          *ngFor="let s of loginServices"
          mat-stroked-button
          (click)="goLoginService(s)"
          [ngStyle]="{
            'border-color': s.color
          }"
          class="service-logo"
        >
          <img [src]="s.image">
        </button>
      </div>
      <h3 style="text-align: center">or</h3>
    </div>
    <div *ngIf="linkFromConfirmEmail">
      <h3>Thank you for confirming your email address. Please log in below to continue.</h3>
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <app-form-field
        *ngFor="let field of getFields()"
        [errors]="field.formControl ? field.formControl.errors : field.formGroup.errors"
        [field]="field"
        [formGroup]="loginForm"
        [errorMatcher]="errorMatcher"
      ></app-form-field>

      <div
        id="error_message"
        class="display mat-error"
      >{{errorEmitter | async}}</div>
      <footer>
        <button
          type="button"
          color="primary"
          mat-raised-button
          (click)="onSubmit()"
        >Next</button>
      </footer>
    </form>
  </mat-card-content>
</mat-card>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <button
    type="button"
    mat-button
    (click)="goForgotPassword()"
  >
    Forgot password?
  </button>
  <div fxFlex></div>
  <button
    type="button"
    (click)="onCancel()"
    mat-button
  >
    Cancel
  </button>
</div>