<div class="container mat-typography" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px"
     fxLayoutAlign="center center">
  <div fxFlex="50%">
    <app-logo></app-logo>
    <mat-card>
      <mat-card-content>
        <h1 class="mat-display-1" color="primary">Reset your iTHRIV Password</h1>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <app-form-field *ngFor="let field of iThrivForm.getFields()"
                          [errors]="field.formControl ? field.formControl.errors : field.formGroup.errors"
                          [field]="field" [formGroup]="passwordForm" [errorMatcher]="errorMatcher"></app-form-field>

          <div id="error_message" class="display mat-error">{{errorMessage}}</div>
          <button type="button" color="primary" mat-raised-button (click)="onSubmit()">Next</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
