// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import '../../ithriv_material';
// Load the UVA Theme
@include ithriv-theme($uva-theme);

$base-font-size: 16px;
$padding-size: 20px;
$border-top-size: 10px;
$icon-size: 50px;

mat-card.resource {
  cursor: pointer;
  margin: 0px;
  padding: $padding-size;
  padding-top: $border-top-size + $padding-size;
  position: relative;

  &:hover {
    outline: 1px solid mat-color($ithriv-primary, 200, 1);
    background-color: mat-color($ithriv-primary, 100, 1);
  }

  &:active {
    outline: 1px solid mat-color($ithriv-accent, 200, 1);
    background-color: mat-color($ithriv-accent, 100, 1);
  }

  .category-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $border-top-size;
    background-size: 100% $border-top-size;
    background-repeat:no-repeat;
  }

  .icon-with-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .type-icon {
      width: $icon-size + 20px;
      height: $icon-size + 20px;
      background-color: #666;
      border-radius: 25%;
      margin-right: $padding-size;

      mat-icon {
        color: white;
        fill: white;
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        padding: 10px;
      }
    }

    .institution {
      text-align: center;
      margin-top: $padding-size;
      margin-right: $padding-size;

      img {
        max-width: $icon-size;
        max-height: $icon-size;
      }
    }
  }
}

mat-card-title, mat-card-title.mat-card-title {
  font-weight: 900;
  margin: 0 0 5px 0;
  padding: 0 $base-font-size * 2 10px 0;
  overflow: hidden;
}

mat-card-content {
  overflow: hidden;
  margin-left: 8px;

  ::ng-deep markdown * {
    font-weight: normal;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
    font-style: normal;
    display: inline-block;
  }

  ::ng-deep markdown img {
    display: none;
  }
}

app-favorite-resource-button {
  position: absolute;
  top: $base-font-size + $border-top-size;
  right: $base-font-size;
  z-index: 2;
}


