<mat-card class="resource" (click)="goResource($event, resource)">
  <mat-card-header>
    <mat-card-title>
      <div class="mat-card-pre-title">{{resource.name}}</div>
    </mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="resource.owner">Owner: {{resource.owner}}</div>
      <div *ngIf="resource.website">{{resource.website}}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{resource.description}}
  </mat-card-content>
  <mat-card-actions>
    <app-availability [resource]="resource"></app-availability>
  </mat-card-actions>
</mat-card>