// Import theming functions
@import '~@angular/material/theming';
@import '../../../ithriv_material';
@include ithriv-theme($ithriv-theme);

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: black;
  font-weight: 900;
  box-shadow: none;

  svg {
    flex: 1 1 auto;

    * {
      outline: none;
    }

    g {
      &.level-0-menu,
      &.level-0 {
        transition: $animationDuration ease-in-out all;
      }
    }

    line {
      stroke-width: 4px;

      &.level-1-line,
      &.level-2-line {
        transition: $animationDuration ease-in-out all;
      }
    }
  }
}
