<div
  class="container"
  *ngIf="isDataLoaded && topCategories"
>
  <svg
    [attr.viewBox]="viewBoxDimensions()"
    class="mat-typography"
  >

    <!-- Top Level Category Menu -->
    <svg:g class="top-level">
      <svg:g
        *ngFor="let node of topCategories; let i = index"
        [@menuState]="{value: getMenuState(node), params: getMenuPosition(node)}"
        app-network-view-node
        [state]="getState(node)"
        (click)="setCategory(node)"
        [category]="node"
        [options]="{
          relationship: 'root',
          x: 0,
          y: 0,
          radius: navRadius,
          angle: 0,
          titleHeight: parentTitleHeight
        }"
      ></svg:g>
    </svg:g>

    <!-- Draw the lines first, so they show up underneath. -->
    <svg:g
      *ngFor="let thisCategory of topCategories"
      [@rootState]="{value: getRootState(thisCategory), params: getRootShift(thisCategory)}"
    >
      <svg:g
        [@lineState]="getRootState(thisCategory)"
        [attr.transform]="'scale(0)'"
      >
        <svg:line
          *ngFor="let child of thisCategory.children; let k = index"
          [attr.x1]="0"
          [attr.y1]="0"
          [attr.x2]="getCatPos(child, false).x"
          [attr.y2]="getCatPos(child, false).y"
          [attr.stroke]="categoryColor(thisCategory.color)"
        />
      </svg:g>

      <!-- SIBLINGS -->
      <svg:g
        *ngFor="let child of thisCategory.children; let k = index"
        class="sibling"
        [@childState]="{value: getState(child), params: getCatPos(child)}"
      >
        <svg:g
          [@lineState]="getState(child)"
          [attr.transform]="'scale(0)'"
        >
          <svg:line
            *ngFor="let grandChild of child.children; let k = index"
            [attr.x1]="0"
            [attr.y1]="0"
            [attr.x2]="getCatPos(grandChild, false).x"
            [attr.y2]="getCatPos(grandChild, false).y"
            [attr.stroke]="categoryColor(thisCategory.color)"
          />
        </svg:g>

        <!-- GRANDCHILDREN -->
        <svg:g
          *ngFor="let grandChild of child.children; let k = index"
          class="sibling"
          [@grandchildState]="{value: getState(grandChild), params: getCatPos(grandChild)}"
        >
          <svg:g
            app-network-view-node
            [category]="grandChild"
            [state]="getState(grandChild)"
            (click)="selectCategory(grandChild)"
            [options]="{
              relationship: 'child',
              x: 0,
              y: 0,
              radius: baseRadius,
              angle: 0,
              titleHeight: 40
            }"
            [matTooltip]="(selectedCategory.level === 0) ? grandChild.name : ''"
          >
          </svg:g>
        </svg:g>

        <!-- CHILDREN -->
        <svg:g
          app-network-view-node
          [category]="child"
          [state]="getState(child)"
          (click)="selectCategory(child)"
          [options]="{
            relationship: 'child',
            x: 0,
            y: 0,
            radius: baseRadius,
            angle: 0,
            titleHeight: 40
          }"
          [matTooltip]="showTooltip(child) ? child.name : ''"
        ></svg:g>

      </svg:g>

      <!-- PARENT -->
      <svg:g
        class="parent"
        app-network-view-node
        [category]="thisCategory.parent || thisCategory"
        (click)="selectCategory(thisCategory)"
        [state]="getState(thisCategory)"
        [options]="{
          relationship: 'root',
          x: 0,
          y: 0,
          radius: baseRadius,
          angle: 0,
          titleHeight: 40
        }"
      ></svg:g>
    </svg:g>
    -->
  </svg>
  <!--
  <svg *ngFor="let c of categories" height="100" width="100"

     (click)="setCategory(c)">>
  <circle [attr.cx]="getState(c) === 'active' ? 50 : 100" [attr.cy]="getState(c) === 'active' ? 50 : 100" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg>
  -->
</div>