<p>Graph works</p>
<button (click)="setState('primary')">Primary</button>
<button (click)="setState('secondary')">Secondary</button>
<button (click)="setState('tertiary')">Tertiary</button>
<br/>
<button (click)="setRelationship('root')">root</button>
<button (click)="setRelationship('parent')">parent</button>
<button (click)="setRelationship('self')">self</button>
<button (click)="setRelationship('sibling')">sibling</button>
<button (click)="setRelationship('child')">child</button>
<button (click)="setRelationship('grandchild')">grandchild</button>

<div class="container">
  <svg [attr.viewBox]="viewBoxDimensions()">
    <g
      app-network-view-node
      [category]="category"
      [state]="state"
      [options]="{
                state: state,
                relationship: relationship,
                x: 0,
                y: 0,
                radius: 200,
                angle: 0,
                titleHeight: 40
              }"
    />
    -->
  </svg>
  <!--
  <svg *ngFor="let c of categories" height="100" width="100"

     (click)="setCategory(c)">>
  <circle [attr.cx]="getState(c) === 'active' ? 50 : 100" [attr.cy]="getState(c) === 'active' ? 50 : 100" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg>
  -->
</div>
