.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: black;
  font-weight: 900;
  box-shadow: none;

  svg {
    flex: 1 1 auto;

    * {
      outline: none;
      transition: 500ms ease-in-out all;
    }

    line {
      stroke-width: 4px;
      transition: 500ms ease-in-out all;
      animation: grow ease-in-out 500ms;

      &.moving  { animation: shrink ease-in-out 500ms; }
      &.set     { animation: grow ease-in-out 500ms; }
    }
  }
}


@keyframes shrink {
  0% {
    transform: scale(1);
  }

  50%, 100% {
    transform: scale(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50%, 100% {
    transform: scale(1);
  }
}
