<div class="container" *ngIf="category">
  <svg [attr.viewBox]="viewBoxDimensions()">

    <!-- Draw the lines first, so they show up underneath. -->
    <g
      [@rootState]="{value: getRootState(), params: getRootShift()}"
    >
      <g *ngIf="transitionState === 'set'">
        <line *ngFor="let child of category.children; let k = index"
              [attr.x1]="0"
              [attr.y1]="0"
              [attr.x2]="getCatPos(child, category, k, false).x"
              [attr.y2]="getCatPos(child, category, k, false).y"
              [attr.stroke]="category.color"
              [ngStyle]="{'stroke-width': 5, 'stroke-color': 'blue'}"></line>
      </g>
    <g
      app-network-view-node
      [category]="category"
      (click)="selectCategory(category)"
      [state]="getState(category)"
      [options]="{
                relationship: 'root',
                x: 0,
                y: 0,
                radius: baseRadius,
                angle: 0,
                titleHeight: 40
              }"
    ></g>

    <g
      *ngFor="let child of category.children; let k = index"
      class="sibling"
      [@childState]="{value: getState(child), params: getCatPos(child, category, k)}"
    >
      <g *ngIf="transitionState === 'set'">
        <line *ngFor="let grandChild of child.children; let k = index"
              [attr.x1]="0"
              [attr.y1]="0"
              [attr.x2]="getCatPos(grandChild, child, k, false).x"
              [attr.y2]="getCatPos(grandChild, child, k, false).y"
              [attr.stroke]="category.color"
              [ngStyle]="{'stroke-width': 4}"></line>
      </g>

      <g
        app-network-view-node
        [category]="child"
        [state]="getState(child)"
        (click)="selectCategory(child)"
        [options]="{
                relationship: 'child',
                x: 0,
                y: 0,
                radius: baseRadius,
                angle: 0,
                titleHeight: 40
              }"
      ></g>

      <g
        *ngFor="let grandChild of child.children; let k = index"
        class="sibling"
        [@grandchildState]="{value: getState(grandChild), params: getCatPos(grandChild, child, k)}"
        (@grandchildState.done) = "transitionCallback()">

        <g
          app-network-view-node
          [category]="grandChild"
          [state]="getState(grandChild)"
          (click)="selectCategory(grandChild)"
          [options]="{
                  relationship: 'child',
                  x: 0,
                  y: 0,
                  radius: baseRadius,
                  angle: 0,
                  titleHeight: 40
                }"
        >
        </g>
      </g>


    </g>
    </g>
    -->
  </svg>
  <!--
  <svg *ngFor="let c of categories" height="100" width="100"

     (click)="setCategory(c)">>
  <circle [attr.cx]="getState(c) === 'active' ? 50 : 100" [attr.cy]="getState(c) === 'active' ? 50 : 100" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg>
  -->
</div>
